
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1492653577735'); /* IE9*/
  src: url('iconfont.eot?t=1492653577735#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1492653577735') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1492653577735') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1492653577735#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-application:before { content: "\e60b"; }

.icon-xitongguanli:before { content: "\e6d0"; }

.icon-pingguzhongxin:before { content: "\e61e"; }

.icon-sql:before { content: "\e61d"; }

.icon-es:before { content: "\e747"; }

.icon-xingneng:before { content: "\e6eb"; }

